.odd {
    background-color: black;
    color: white;
    height: 150;
    border-width: 2x;
    margin: 10px;
}

.even {
    background-color: white;
    color: black;
    height: 150;
    border-width: 2px;
    margin: 10px;
}

.list-view-item {
    padding: 10px;
    font-size: 28;
}

.h3 {
    text-align: center;
    font-size: 24;
}

.boat-number, .boat-number-center {
    font-size: 30;
    font-weight: bold;
}

.boat-number-center {
    text-align: center;
}

.laptime, .laptime-center {
    font-size: 25;
}

.laptime-center {
    text-align: center;
}

.boat-number-info {
    font-size: 30;
    text-align: center;
    font-weight: bold;
    border-width: 2;
    border-color: white;
    margin: 15;
}

.current-lap {
    text-align: center;
    font-size: 25;
    margin: 15;
}